extends layout

block content
  #wrapper(ng-controller="mapCtrl" ng-init="init()")
    canvas#main(resize)
    #toolbox
      #pause(ng-click="togglePause()") ||
      .slave(ng-repeat="s in slave_names" id="{{s}}" color="{{slaves[s]['color']}}" slave)
  script

