doctype html
html(xmlns:fb="http://ogp.me/ns/fb#")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(property="fb:app_id" content="336813796436471")
  body(ng-app="app")

    block content
    include script