// jquery
script(type="text/javascript" src="/components/jquery/dist/jquery.min.js")

// global
script(type="text/javascript" src="/javascripts/global.js")

// paper
script(type="text/javascript" src="/components/paper/dist/paper.js")
script(type="text/paperscript" src="/javascripts/paper/map.js" canvas="main")

// angular
script(type="text/javascript" src="/components/angular/angular.min.js")
script(type="text/javascript" src="/javascripts/angular/app.js")
script(type="text/javascript" src="/javascripts/angular/controllers/map.js")
script(type="text/javascript" src="/javascripts/angular/directives/slave.js")


