// jquery
script(type="text/javascript" src="/components/jquery/dist/jquery.min.js")

// angular
script(type="text/javascript" src="/components/angular/angular.min.js")
script(type="text/javascript" src="/javascripts/angular/app.js")
script(type="text/javascript" src="/javascripts/angular/controllers/stage.js")
script(type="text/javascript" src="/javascripts/angular/controllers/map.js")
script(type="text/javascript" src="/javascripts/angular/directives/element.js")
script(type="text/javascript" src="/javascripts/angular/directives/button.js")


